* {
  box-sizing: border-box;

}

html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.header {
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
}

#heading-main {
  font-family: 'Montserrat';
  font-size: 1.6em;
  letter-spacing: 1px;
}

.social-link-container {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
}

.social-link-logo {
  height: 28px;
  width: 28px;
  margin-left: 10px;
}

.content {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 5px;
  min-height: 0px;
}

.editor {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 5px;
  min-width: 0px;
}

.editor-button-panel {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  height: 28px;
  border: 1px solid #d1d5da;
  background-color: #f6f8fa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  justify-content: flex-end;
}

#editor-main-json,
#editor-main-csv {
  flex: 1 1 auto;
  line-height: 1.5;
  border: 1px solid #d1d5da;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#editor-main-csv {
  overflow: auto;
}

table {
  border-collapse: collapse;
  /* border: 1px solid #d1d5da; */
  width: 100%;

  font-size: 12px;
  font-family: monospace;
}

tr {
  /* border: 1px solid #d1d5da; */
  height: 17px;
}

th,
td {
  /* border-left: 1px solid #d1d5da;
  border-right: 1px solid #d1d5da; */
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

th {
  text-align: left;
}

td:nth-child(1),
th:nth-child(1) {
  border-left: none;
  text-align: right;
  width: 40px;
}

td:nth-last-child(1),
th:nth-last-child(1) {
  border-right: none;
}

.editor-button-panel-button {
  height: 20px;
  background: none;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.editor-button-panel-button:focus {
  outline: none;
}

.editor-button-panel-button:hover {
  background-color: rgb(201, 201, 201);
  border-radius: 4px;
}

#status-box {
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

#editor-main-json .ace_gutter {
  background-color: white;
  color: black;
}